.main-container-subc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    margin: 20px 20px 0px 20px;
}

.like-icon{
    filter: drop-shadow( 0px 0px 2px #838383);
}