@import '../../AppConstants.scss';
.carousel-container {
  position: relative;
  min-width:570px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.245);
  margin: 0px 40px 80px 0px;
  border-radius: 6px;
  box-shadow: 3px 3px 5px $structure-color-6;
}

.carousel-image {
  width: 500px;
  object-fit:scale-down;
  border-radius: 6px;
}

.carousel-container:hover {
  .carousel-arrow-right {
    opacity: 1;
  }
  .carousel-arrow-left {
    opacity: 1;
  }
}

.carousel-arrow-left {
  position: absolute;
  top: 50%;
  left: 32px;
  z-index: 10;
  border: 2px solid #ffffff;
  border-radius: 100px;
  cursor: pointer;

  opacity: 0;
  transition: 0.3s;
}

.carousel-arrow-right {
  position: absolute;
  top: 50%;
  right: 32px;
  z-index: 10;
  border: 2px solid #ffffff;
  border-radius: 100px;
  cursor: pointer;

  opacity: 0;
  transition: 0.3s;
}

.hidden-slide {
  opacity: 0;
  transition: 0.3s;
}

.current-slide {
  opacity: 1;
  transition: 0.3s;
}
