@import '../../AppConstants.scss';

.container{
    position: relative;
    display: inline-block;
}

.popup{
    padding: 20px 14px 20px  20px;
    background-color: $primary-color-3;
    display: inline-block;
    box-shadow: -1px 2px 6px rgba(111, 107, 107, 0.15);
    border-radius: 6px;
    position: absolute;
    z-index:1000;
    max-height: 500px;
    overflow-y: auto;
    top:50px;
    right: 0;
}

.placeholder{
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-color-1; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-color-1-alt; 
  }