@import '../../AppConstants.scss';

.notificationBody{
    display: flex;
    align-items: center;
    justify-content: left;

    .image{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        object-fit: cover;
    }

    .content{
        margin-left: 20px;
        h1{
            font-size: 16px;
            line-height: 26px;
            width: 337px;
        }
        .footer{
            display: flex;
            justify-content: space-between;

            .time{              
                font-style: italic;
                font-weight: 600;
                font-size: 14px;
                line-height: 26px;
                color: $structure-color-6;
            }

            .view{
                color:$primary-color-1;
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                cursor: pointer;
            }
        }
    }
}