@import "../../AppConstants.scss";

.card-myposts {
  width: 260px;
  height: 346px;
  background: #ffffff;

  border-radius: 6px;
  overflow: hidden;
  border-style: solid;
  border-color: #ffffff;
  transition: 0.5s;

  margin: 0 0 20px 20px;
  box-shadow: -1px 2px 6px rgba(111, 107, 107, 0.15);
}

.card-myposts:hover {
  border-style: solid;
  border-color: $primary-color-1;
}

.product-image-myposts {
  position: relative;
  width: 260px;
  height: 200px;
  z-index: 1;

  &--active{
    filter: brightness(1)
  }
  &--inactive{
    filter: brightness(0.4)
  }
}

.card-title-myp {
  margin: 15px 0px 0px 15px;

  width: 164px;
  height: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  display: flex;
  align-items: center;
  &--active {
    color: #1B1D1F;
  }

  &--inactive {
    color: #8C8C8C;
  }
}

.time-price-myp {
  margin: 0 15px 0 15px;
  display: flex;
  align-items: center;
}

.time-myp {
  width: 91px;
  height: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  margin-left: 10px;

  &--active{
    color: #1B1D1F;
  }

  &--inactive{
    color:#8C8C8C;
  }
}

.price {
  width: 98px;
  height: 20px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  text-align: right;

  &--active{
    color:#1B1D1F;
  }

  &--inactive{
    color:#8C8C8C;
  }
}

.card-images {
  position: relative;
  top: 0;
  left: 0;
}

.update-button {
  color: $primary-color-1;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  background-color: $primary-color-3;
  border: 1px solid $primary-color-1;
  border-radius: 6px;
  margin: 20px 15px 15px 15px;
  width: 230px;
  height: 36px;
  padding: 5px 62px;
  align-items: center;
  justify-content: center;

  
}

.update-button:hover {
  background-color: $primary-color-1-light;
}

#mypost-dark{
  filter: brightness(0.4)
}

.timer-icon-myposts{
  &--active{
    content:url(../../assets/Icons/timer.svg);
  }

  &--inactive{
    content:url(../../assets/Icons/timer-gray.svg);
  }
}
