@import "../../AppConstants.scss";

.buttonContainer{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right:20px;
    margin-left: 20px;
    max-width: 1242px;
    flex-wrap: wrap;
    min-width: 560px;
    .button{
        margin-left:20px
    }
}