$primary-color-1:#E6007E;
$primary-color-1-alt:#EB3599;
$primary-color-1-light:#FFF0F8;
$primary-color-2:#004891;
$primary-color-2-dark:#023C77;
$primary-color-2-light:#92AFCC;
$primary-color-2-lightest:#E7F3FF;
$primary-color-3:white;
$primary-color-3-inner-border:#D6D6D6;
$primary-color-4:#1B1D1F;
$primary-color-4-light:#444A51;

$warning-color:#CE310E;
$positive-color:#278D53;

$structure-color-1:#FAFAFA;
$structure-color-2:#F8F8F8;
$structure-color-3:#FFFDF8;
$structure-color-4:#E8EAED;
$structure-color-5:#B8C5D4;
$structure-color-6:#8C8C8C;
$structure-color-7:#434A52;
$structure-color-8:#E4E4E4


