@import "../../AppConstants.scss";

.container{
    position: relative;
    width:160px;
    height: 160px;
    background-color: $primary-color-3;
    border: 1px dashed $primary-color-2;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color-2;
    &:hover{
        background-color: $primary-color-2-light;
        cursor: pointer;
    }
    .image{
        width:100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
    .trashIcon{
        color: $primary-color-3;
        width: 24px;
        height: 24px;
    }
    .overlay{
        position: absolute;
        z-index: 10;
        height: 160px;
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.374);
        opacity: 0;
        &:hover{
            opacity: 1;
        }
    }
}