@import "../../AppConstants.scss";

body {
  background-color: $primary-color-2-lightest;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  margin: 20px 20px 0 20px;
}

a{
  text-decoration: none;
  color: inherit;
}
