@import "../../AppConstants.scss";

.card-fav {
  width: 260px;
  height: 290px;
  background: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  border-style: solid;
  border-color: #ffffff;
  transition: 0.5s;
  margin: 0 0 20px 20px;
  box-shadow: -1px 2px 6px rgba(111, 107, 107, 0.15);
}

.card-fav:hover {
  border-style: solid;
  border-color: $primary-color-1;
}

.card-images-fav {
  position: relative;
  top: 0;
  left: 0;

  .product-image-fav {
    position: relative;
    width: 260px;
    height: 200px;
    z-index: 1;
    &--active {
      filter: brightness(1);
    }
    &--inactive {
      filter: brightness(0.4);
    }
  }

  .like-icon-card-fav {
    position: absolute;
    top: 15px;
    left: 225px;
    z-index: 10;
    opacity: 1;
    filter: drop-shadow(0 0 10px #000000);
    transition: 1s;
  }

  .like-icon-card-fav svg path {
    fill: white;
  }
}

.card-title-fav {
  margin: 15px 0px 10px 15px;
  width: 164px;
  height: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  display: flex;
  align-items: center;
  &--active {
    color: #1b1d1f;
  }
  &--inactive {
    color: #8c8c8c;
  }
}

.time-price-fav {
  margin: 0 15px 0 15px;
  display: flex;
  align-items: center;

  .timer-pic-fav {
    &--active {
      content: url(../../assets/Icons/timer.svg);
    }

    &--inactive {
      content: url(../../assets/Icons/timer-gray.svg);
    }
  }

  .time-fav {
    width: 91px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
    &--active {
      color: #1b1d1f;
    }
    &--inactive {
      color: #8c8c8c;
    }
  }

  .price-fav {
    width: 98px;
    height: 20px;
    font-style: normal;
    font-weight: 640;
    font-size: 14px;
    text-align: right;
    &--active {
      color: #1b1d1f;
    }
    &--inactive {
      color: #8c8c8c;
    }
  }
}
