@import "../../AppConstants.scss";

.myposts-navbar {
  width: 100%;
  height: 60px;

  background-color: $primary-color-3;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 2px 6px rgba(111, 107, 107, 0.15);
  margin-bottom: 20px;
}

.myposts-nav-text {
  width: 150px;
  height: 60px;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  color: $primary-color-2;
  border-bottom: 5px solid;
  border-top: 4px solid white;
  box-sizing: border-box;
}

.myfavs-nav-text {
  width: 150px;
  height: 60px;
  font-size: 18px;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  color: $structure-color-6;
  margin-left: 15px;
}

.myfavs-nav-text:hover {
  border-bottom: 5px solid;
  border-top: 4px solid white;
  box-sizing: border-box;
}

.myposts-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.status-posts-label {
  width: 95px;
  height: 36px;
  display: flex;
  font-size: 22px;
  color: $primary-color-4;
  text-transform: capitalize;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 10px;
}

.no-posts-text {
  display: flex;
  font-size: 18px;
  color: $primary-color-4;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 10px;
}
