@import "../../AppConstants.scss";

.register_label {
  width: 79px;
  height: 26px;

  margin-top: 20px;
  margin-bottom: 20px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;

  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: $primary-color-4;
}

.form {
  display: flex;
  flex-direction: column;

  div {
    position: relative;
    width: 100%;

    label {
      width: 253px;
      height: 16px;

      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-transform: capitalize;

      color: $structure-color-6;

      flex: none;
      order: 1;
      flex-grow: 0;
    }

    div {
      position: relative;

      .input {
        width: 360px;
        height: 30px;
        padding: 15px;
        margin: 4px;
        box-sizing: border-box;
        padding-left: 60px;
        text-align: left;

        border: 1px solid $structure-color-6;
        border-radius: 6px;

        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 13px;

        left: 0px;
        right: 0px;
        top: 20px;
        bottom: 0px;
      }

      .bad_input {
        width: 360px;
        height: 30px;
        padding: 15px;
        margin: 4px;
        box-sizing: border-box;
        padding-left: 60px;
        text-align: left;

        border: 1px solid $structure-color-6;
        border-radius: 6px;

        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 13px;

        left: 0px;
        right: 0px;
        top: 20px;
        bottom: 0px;

        background-color: #fad1d1;
      }

      .proper_input {
        width: 360px;
        height: 30px;
        padding: 15px;
        margin: 4px;
        box-sizing: border-box;
        padding-left: 60px;
        text-align: left;

        border: 1px solid $structure-color-6;
        border-radius: 6px;

        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 13px;

        left: 0px;
        right: 0px;
        top: 20px;
        bottom: 0px;

        background-color: #c2fbdc;
      }

      .icon {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 20px;
        top: 8px;
      }
    }
  }
  .register_button_empty {
    margin-top: 5%;
    width: 360px;
    height: 36px;

    background: $primary-color-2-light;
    border-radius: 6px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: $primary-color-3;
  }
  .register_button_filled {
    margin-top: 5%;
    width: 360px;
    height: 36px;

    background: $primary-color-2;
    border-radius: 6px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: $primary-color-3;
  }
}
.login_button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  width: 360px;
  height: 36px;
  left: 0px;
  top: 30px;

  border: 1px solid $primary-color-1;
  border-radius: 6px;

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: $primary-color-1;
}

.already_have_account_label {
  position: relative;

  font-weight: 400;
  font-size: 16px;
  line-height: 13px;

  margin-bottom: 3%;

  display: flex;
  align-items: center;

  color: $structure-color-6;
}

.line {
  position: relative;
  width: 360px;
  height: 0px;
  margin-top: 5%;
  margin-bottom: 5%;

  border: 1px solid $structure-color-6;
}

.yonder_logo {
  position: relative;
}

.welcome_message {
  width: 335px;
  height: 33px;
  top: 0px;
  margin-bottom: 40px;

  font-weight: 300;
  font-size: 24px;
  line-height: 33px;

  display: flex;
  align-items: center;
  letter-spacing: 12px;

  color: $primary-color-4;
}

.register_form_component {
  position: relative;
}

.main_container {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  margin-left: 150px;
  width: 400px;
  height: 100%;
}

.div_form {
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 3%;
  background-color: rgba($color: #fad1d1, $alpha: 0.4);
  border: 3px solid;
  border-radius: 6px;
  border-color: $primary-color-1;
  max-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 25%;
    margin-bottom: 5%;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;

    background: $primary-color-2;
    border-radius: 6px;

    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: $primary-color-3;

    max-height: 1%;
  }
  h1 {
    font-style: normal;
    text-align: center;
  }
  p {
    font-style: normal;
    text-align: center;
    color: $primary-color-4;

    padding-left: 5%;
    padding-right: 5%;
  }
}

.bad_input_email {
  width: 100%;
  height: 30px;
  padding: 15px;
  margin: 4px;
  box-sizing: border-box;
  padding-left: 60px;
  text-align: left;

  border: 1px solid $structure-color-6;
  border-radius: 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 13px;

  left: 0px;
  right: 0px;
  top: 20px;
  bottom: 0px;

  background-color: #fad1d1;
}

.background {
  position: absolute;
  background-size: cover;
  z-index: -1;
  height: 100%;
  overflow: hidden;
  right: 0;
  top: 0;
}