@import "../../AppConstants.scss";

.view-post-page {
  display: flex;
  margin: 20px 20px 0px 20px;
}

.view-post-images {
  height: 90vh;
  width: 20vw;
  margin: 0px 40px 0 0px;

  filter: drop-shadow(-1.735px 3.47px 10.41px rgba(111, 107, 107, 0.15));
  border-radius: 6px;
  object-fit: cover;
}

.view-post-info {
  width: 75vw;
  display: flex;
  flex-direction: column;

  .header-vp {
    display: flex;
    align-items: center;

    height: 30px;
    width: 100%;

    padding-bottom: 10px;

    border-bottom: 1px solid $primary-color-2-light;

    .time-price-vp{
      margin: 0 0 0 auto;
      display: flex;
      align-items: center;
    }

    .like-vp {
      display: flex;
      align-items: center;
      margin-left: 20px;
      cursor: pointer;
    }

    .time-vp {
      font-weight: 400;
      font-size: 22px;

      display: flex;
      align-items: center;

      color: $primary-color-4;

      margin: 0 20px 0 10px;

    }

    .price-vp {
      font-weight: 600;
      font-size: 22px;

      display: flex;
      align-items: center;
      justify-content: right;

      padding: 0 20px 0 20px;
      border-left: 1px solid $primary-color-2-light;
      border-right: 1px solid $primary-color-2-light;
      color: #1b1d1f;
    }
  }

  .title-vp {
    font-weight: 600;
    font-size: 22px;

    display: flex;
    align-items: center;

    color: $primary-color-2;
  }

  .small-header {
    font-weight: 600;
    font-size: 16px;

    display: flex;
    align-items: center;

    color: $structure-color-6;
    
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .small-header-comment {
    font-weight: 600;
    font-size: 16px;

    display: flex;
    align-items: center;

    color: $structure-color-6;
    
    margin-bottom: 10px;
  }

  .desc-vp {
    font-weight: 400;
    font-size: 14px;

    margin: 5px 0 10px 0;

    color: $primary-color-4;
  }

  .data-text {
    font-weight: 600;
    font-size: 16px;

    display: flex;
    align-items: center;

    color: $primary-color-4;
  }

  .data-icon-vp{
    margin-right: 20px;
  }

  .data-container {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
  }

  .data-second-container {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }

  .data-main-container {
    display: flex;
    flex-direction: row;
  }

  .comment-input {
    box-shadow: -1px 2px 6px rgba(111, 107, 107, 0.15);
    border-radius: 6px;

    width: 100%;
    height: 101px;

    resize: none;
  }

  .add-comment-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;

    width: 140px;
    height: 36px;

    color: white;

    background: $primary-color-2;
    border-radius: 6px;
    border-style: hidden;

    font-weight: 500;
    font-size: 16px;

    margin: 10px 0 20px auto;
    cursor: pointer;
  }

  .comment-list{
    max-height: 260px;
    overflow-y: auto;
  }
}
