@import '../../AppConstants.scss';

body{
    overflow-x: auto;
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: $primary-color-3;
    box-shadow: inset 0px -1px 0px $structure-color-5;
    min-width: 762px;
    .left{
        margin-left: 20px;
    }
    .right{
        margin-right: 20px;
    }
    .select{
        height:36px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        border: 1px solid $primary-color-2;
        border-radius: 6px;
        color: $primary-color-2;
    }
    .spacer{
        height:38px;
        border-left:1px solid $structure-color-6;
        margin-right:20px;
    }
    .flexCenter{
        display:flex;
        align-items: center;
    }
}
