@import '../../AppConstants.scss';

.container {
    margin-left: 150px;
    display: flex;
    padding-top: 80px;
    flex-direction: column;

    .welcome {
        margin-bottom: 40px;
        font-size: 24px;
        letter-spacing: 12px;
        font-weight: 300;
        color: $primary-color-4;
    }

    .containerLogin {
        width: 400px;
        height: 400px;

        .login {
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: $primary-color-4;
            margin: 20px 0;
        }

        .loginForm {
            margin-top: 10px;
            font-size: 12px;
            color: $structure-color-6;

            .labelEmail {
                line-height: 16px;
                position: absolute;
            }
        }

        .logotext {
            width: 360px;
            height: 36px;
            align-items: center;

            .userLogo {
                padding-top: 26px;
                padding-left: 10px;
                position: absolute;
            }

            .textEmail {
                box-sizing: border-box;
                border: 1px solid $structure-color-6;
                border-radius: 6px;
                width: 360px;
                padding-left: 40px;
                height: inherit;
                margin-top: 20px;
                font-size: 16px;
            }
        }

        .password {
            margin-top: 40px;
            font-size: 12px;
            color: $structure-color-6;

            .labelPassword {
                line-height: 16px;
                position: absolute;
            }
        }

        .passwordLogo {
            width: 360px;
            height: 36px;
            align-items: center;

            .lockLogo {
                position: absolute;
                padding-top: 26px;
                padding-left: 10px;
            }

            .textPassword {
                margin-top: 20px;
                box-sizing: border-box;
                border: 1px solid $structure-color-6;
                border-radius: 6px;
                width: 100%;
                padding-left: 40px;
                height: inherit;
                font-size: 16px;
            }
        }

        .buttonLoginDisable:disabled {
            margin-top: 60px;
            width: 360px;
            height: 36px;
            font-weight: 600;
            font-size: 16px;
            background: $primary-color-2-light;
            border: $primary-color-2-light;
            border-radius: 6px;
            color: $primary-color-3;
        }

        .buttonLoginEnable:enabled {
            margin-top: 60px;
            width: 360px;
            height: 36px;
            font-weight: 600;
            font-size: 16px;
            background: $primary-color-2;
            border: $primary-color-2;
            border-radius: 6px;
            color: $primary-color-3;
        }

        .blanc {
            width: 360px;
            margin-top: 40px;
            border: 1px solid $structure-color-6;
        }

        .register {
            font-style: normal;
            flex: none;

            .labelRegister {
                margin-top: 20px;
                color: $structure-color-6;
                position: absolute;
            }

            .buttonRegister {
                margin-top: 55px;
                font-weight: 600;
                font-size: 16px;
                width: 360px;
                height: 36px;
                background: $primary-color-2-lightest;
                border: 1px solid $primary-color-1;
                border-radius: 6px;
                color: $primary-color-1;
            }
        }
    }
}

.background {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.textInputValid {
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid $structure-color-6;
    border-radius: 6px;
    width: 100%;
    padding-left: 40px;
    height: inherit;
    background-color: #c2fbdc;
}

.textInputInvalid {
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid $structure-color-6;
    border-radius: 6px;
    width: 100%;
    padding-left: 40px;
    height: inherit;
    background-color: #fad1d1;
}