@import '../../AppConstants.scss';

.container{
    height: 100vh;
    position:fixed;
    top:0;
    left: 0;
    background-color: $primary-color-2-dark;
    width:186px;
    transition:0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.collapsed{
        width: 82px;
        transition:0.5s;
    }
}



.logo{
    margin-left: 20px;
    margin-top:20px;
    margin-bottom:20px;
}
.logoCollapsed{
    margin-left: 10px;
    margin-top:20px;
    margin-bottom:20px;
}

.resizeIcon{
    color:$primary-color-3;
    width:30px;
    height:30px;
    float: right;
    padding:20px;
    
    &.expand{
        padding-left: 29px;
        padding-right: 29px;
    }
}





