@import "../../AppConstants.scss";

.item-box {
  border-style: solid;
  border-color: $primary-color-3;
  border-width: 2px;
  background-color: $primary-color-3;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
  width: 280px;
  height: 290px;
  margin: 0 0 20px 20px;
  box-shadow: -1px 2px 6px rgba(111, 107, 107, 0.15);
}

.item-box:hover {
  border-color: $primary-color-1-alt;
}

.item-box-image {
  width: 160px;
  height: 160px;
  margin: 20px 60px 20px 60px;
  border-style: hidden;
}

.main-text {
  color: $primary-color-1;
  width: 77px;
  height: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin-left: 20px;
  text-decoration: none;
}

.number-posts {
  margin-left: 20px;
  width: 150px;
  height: 20px;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.grey-line {
  border: 1px solid $structure-color-8;
  margin-top: 0px;
  margin-bottom: 20px;
}

.arrow-right {
  left: 85%;
  right: 15%;
  margin-right: 23px;
  color: $primary-color-1;
}

Link{
  text-decoration: none;
}

.text-container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
