@import "../../AppConstants.scss";

.form-profile {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  width: 100%;
  background-color: $primary-color-2-lightest;
  margin-left: 10px;

  .container-input-info {
    margin-top: 20px;

    label {
      width: 140px;
      height: 15.56px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      text-transform: capitalize;
      color: $structure-color-6;
    }

    .error-message {
      margin: 3px;
      color: $warning-color;
    }

    .rectangle {
      box-sizing: border-box;
      background: $primary-color-3;
      border: 1px solid $primary-color-3-inner-border;
      border-radius: 6px;
      margin-right: 40px;
      display: flex;
      justify-content: space-between;
      height: 36px;
      width: 100%;
      position: relative;

      .container-input-icon {
        width: 29px;
        height: 33px;
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        border-right: 0px;

        .input-icon {
          height: 20px;
          width: 20px;
          border-radius: 0px;
          margin: 0 auto;
          size: 10px;
        }

        #seePass {
          margin-top: 6px;
          margin-right: 2px;
        }
      }

      input {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 13px;
        display: flex;
        align-items: center;
        text-indent: 10px;
        color: $primary-color-4;
        border: 0;
        background: none;
        width: 100%;
      }

      select {
        background-color: none;
        font-style: normal;
        font-size: 16px;
        line-height: 13px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        text-indent: 10px;
        text-overflow: "";
        border: 0;
        background: none;
        width: 110%;

        &:invalid {
          color: #d6d6d6;
          font-weight: 700;
          font-size: 16px;
          line-height: 13px;
        }

        option {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 12px;
          color: $primary-color-4;
        }

        [disabled] {
          color: $primary-color-3-inner-border;
        }
      }
    }
  }

  .button-edit {
    margin-top: 25px;
    width: 85px;
    height: 26px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: $primary-color-3;
  }
}
