@import "../../AppConstants.scss";

body {
  background-color: $primary-color-2-lightest;
}

.profile-container-with-buttons {
  padding: 20px;
  background-color: $primary-color-2-lightest;
  width: 1000px;
  height: 800px;

  .profile-container {
    display: flex;
    flex-direction: row;
    background-color: $primary-color-2-lightest;
    box-sizing: border-box;
    align-items: stretch;
    padding: 40px;
    margin-top: 80px;
    margin-left: 102px;
    border: 1px solid $primary-color-2;
    border-radius: 6px;

    .line-between-elements {
      width: 0px;
      border: 1px solid $primary-color-2-light;
      margin-right: 40px;
      margin-left: 40px;
    }

    .user-picture {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .button-change-picture {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 252px;
        height: 36px;
        color: $primary-color-3;
        background: $primary-color-2;
        border-radius: 6px;
        border: 1px solid $primary-color-2;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: none;
        order: 0;
        flex-grow: 0;
      }

      .button-remove-picture {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary-color-2-lightest;
        border-radius: 6px;
        border: 1px solid $primary-color-2;
        margin-top: 15px;
        width: 252px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: $primary-color-2;
        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }

    .label-name {
      margin-top: 20px;
      width: 300px;
      height: 40px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 26px;
      text-align: center;
      text-transform: capitalize;
      margin-left: 20px;
      color: $primary-color-2;
    }

    .form-container {
      width: 50%;
      margin-left: 10px;

      .form-profile {
        display: flex;
        flex-direction: column;
        font-family: "Open Sans";
        width: 100%;
        background-color: $primary-color-2-lightest;
        margin-left: 10px;
      }

      .container-button-change-pass {
        height: 35px;
        width: 102%;
        margin-top: 20px;

        .button-change-password {
          float: right;
          background: $primary-color-2-lightest;
          border-radius: 6px;
          border: 1px solid $primary-color-2;
          margin-top: 15px;
          margin-bottom: 20px;
          width: 177px;
          height: 32px;
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          display: flex;
          align-items: center;
          text-transform: capitalize;
          color: $primary-color-2;
          display: flex;
          justify-content: center;
        }
      }

      .form-change-password {
        margin-left: 10px;
        width: 100%;

        .container-input-pass {
          margin-top: 20px;

          .error-message {
            margin: 3px;
            font-family: "Open Sans";
            color: $warning-color;
          }

          label {
            width: 140px;
            height: 15.56px;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            text-transform: capitalize;
            color: $structure-color-6;
          }

          .rectangle-pass {
            box-sizing: border-box;
            background: $primary-color-3;
            border: 1px solid $primary-color-3-inner-border;
            border-radius: 6px;
            margin-right: 40px;
            display: flex;
            justify-content: space-between;
            height: 36px;
            width: 100%;
            position: relative;

            .container-input-icon-pass {
              width: 29px;
              height: 33px;
              position: absolute;
              right: 0;
              display: flex;
              align-items: center;
              border-right: 0px;

              .input-icon-pass {
                height: 23px;
                width: 24px;
                border-radius: 0px;
                margin: 0 auto;
                size: 10px;
              }
            }

            .container-input-icon-pass {
              margin-right: 4px;
            }

            input {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 13px;
              display: flex;
              align-items: center;
              text-indent: 10px;
              color: $primary-color-4;
              border: 0;
              background: none;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .button-edit {
    float: right;
    padding: 10px;
    border: 1px solid $primary-color-2;
    background: $primary-color-2;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: $primary-color-3;
  }

  .buttons-save-cancel {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    height: 30px;

    .button-cancel {
      display: flex;
      margin-right: 15px;
      justify-content: center;
      align-items: center;
      background: $primary-color-2-lightest;
      border-radius: 6px;
      border: 1px solid $primary-color-2;
      margin-top: 15px;
      width: 90px;

      font-size: 16px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;

      display: flex;
      align-items: center;
      text-transform: capitalize;
      color: $primary-color-2;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    .button-save-changes {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      border: 1px solid $primary-color-2;
      background: $primary-color-2;
      border-radius: 6px;
      width: 106px;

      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;
      margin-top: 25px;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      color: $primary-color-3;
    }
    .button-save-changes:disabled {
      border: 1px solid $primary-color-2;
      background: $primary-color-2-lightest;
      color: $primary-color-2;
    }
  }
}
