.container-picture-name {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile-image {
    height: 260px;
    width: 260px;
    border-radius: 190px;
    box-shadow: -1px 2px 6px rgba(111, 107, 107, 0.15);
  }
}
