@import "../../AppConstants.scss";

body{
    
    overflow-x: auto;
}

.flex{
    display: flex;
    justify-content: flex-start;
}

.container{
    margin:20px;
    padding: 20px;
    border: 1px solid $primary-color-2;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    max-width: 1200px;
    flex-wrap: wrap;
    min-width: 560px;

    label{
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color:$structure-color-6;
    }

    .leftChild{
        width: 520px;
        .imageGrid{
            display: flex;
            width: 520px;
            height: 520px;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    .rightChild{
        max-width: 557px;
        margin-left: 40px;
        .input{
            width:525px;
            height: 18px;
            margin-top:5px;
            border: 1px solid $structure-color-6;
            border-radius: 6px;
            padding: 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 20px;
            &:focus{
                outline: none;
            }
        }
        textarea{
            width:525px;
            height: 154px;
            margin-top:5px;
            border: 1px solid $structure-color-6;
            border-radius: 6px;
            padding: 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 20px;
            resize: none;
            &:focus{
                outline: none;
            }
        }
        .bottomInputs{
            margin-right: 40px;
            h1{
                font-size: 16px;
                font-weight: 600;
            }

            .dropdown{
                margin-top:5px;
                width: 170px;
            }
            .dateSelector{
                height:36px;
                margin-top:5px;
                border-radius: 6px;
                border: 1px solid $structure-color-6;
                color: black;
                font-weight: 600;
                font-size: 14px;
                padding-left:10px;
                padding-right: 10px;
                &:focus{
                    outline: none;
                }
            }
        }
    }

    .spacer{
        height: 555px;
        width: 1px;
        background-color: $primary-color-2-light;
        margin-left: 40px;

        @media (max-width: 1460px) { 
            display: none;
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}