@import "../../AppConstants.scss";

.card {
  width: 260px;
  height: 290px;
  background: #ffffff;

  border-radius: 6px;
  overflow: hidden;
  border-style: solid;
  border-color: #ffffff;
  transition: 0.5s;

  margin: 0 0 20px 20px;
  box-shadow: -1px 2px 6px rgba(111, 107, 107, 0.15);
}

.card:hover {
  border-style: solid;
  border-color: $primary-color-1;
}

.product-image {
  position: relative;
  width: 260px;
  height: 200px;
  z-index: 1;
}

.card-title-sab {
  margin: 15px 0px 0px 15px;

  width:100%;
  height: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #1b1d1f;
}

.time-price-sab {
  margin: 0 15px 0 15px;
  display: flex;
  align-items: center;

  .time-sab {
    width: 91px;
    height: 20px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  
    color: #1b1d1f;
  
    margin-left: 10px;
  }
  
  .price-sab {
    width: 98px;
    height: 20px;
  
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
  
    text-align: right;
  
    color: #1b1d1f;
  }
}



.like-icon-card{
  position: absolute;
  top: 15px;
  left: 225px;
  z-index: 10;
  opacity: 1;

  filter: drop-shadow(0 0 3px #0000006d);
  transition: 1s;
}

.like-icon-card svg path{
  fill: white;
}

.like-icon-card-filled{
  position: absolute;
  top: 15px;
  left: 225px;
  z-index: 10;
  opacity: 0;

  transition: 1s;
}

.like-icon-card-filled:hover{
  opacity: 1;
}

.card-images{
  position: relative;
  top: 0;
  left: 0;
}