@import "../../AppConstants.scss";

.comment-container {
  display: flex;
  margin-bottom: 25px;

  .comment-picture {
    box-shadow: -1px 2px 6px rgba(111, 107, 107, 0.15);
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .user-info {
    margin-left: 10px;
  }

  .user-name-text {
    margin-bottom: 5px;

    font-weight: 600;
    font-size: 14px;

    display: flex;
    align-items: center;

    color: $primary-color-4;
  }

  .date-text {
    font-weight: 400;
    font-size: 14px;

    display: flex;
    align-items: center;

    color: $primary-color-4;
  }

  .comment-text {
    margin-left: 20px;

    font-weight: 400;
    font-size: 14px;

    color: $primary-color-4;
  }
}
